assets/images/units/level_one/tank_blue.png.kra
/Users/Adam/Desktop/coding/games/Tanks/assets/images/units/level_one/tank_blue.png.kra
/Users/Adam/Desktop/coding/games/Tanks/assets/images/weapons/missile/enemy_missile.png.kra
assets/images/weapons/missile/enemy_missile.png.kra
assets/images/weapons/ammo/missile_crate/crate.png.kra
/Users/Adam/Desktop/coding/games/Tanks/assets/images/weapons/ammo/missile_crate/crate.png.kra
